
body{
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 200%;  
    color: #40514E;  
}

h1{
    /* 100% = 16px =1em */
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color:  #66BFBF;  
}

h2{
    font-size: 2.5rem ;
    font-family: 'Montserrat', sans-serif;
    color:  #66BFBF;
    font-weight: normal;
    padding: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;    
}

p{
    line-height: 1.5;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6
}

.footer-link
{
    color:  #11999E;
}
.top-part
{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px ;
   
}

.pro
{
    text-decoration: underline;
}
.intro
{
    width: 40%;
    margin: auto;
}
.contact-message
{
    width: 50%;
    margin: 40px auto 60px;
}

.copyright
{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-cloud
{
    position: absolute;
    right: 250px;
    top: 50px;

}
.bottom-cloud
{
    position: absolute;
    left: 250px;
    bottom: 300px;

}

.drishya-img
{
    border-radius: 50%;
    width: 20%

}
.skill-row
{
    width: 70%;
    margin: 50px auto ;
    text-align: left;
}
.guitar-img
{
    width: 30%;
    float: left;
    margin-right: 30px;

}

.code-img
{
    width: 30%;
    float: right;
    margin-left: 30px;

}
.middle-part
{
    margin-top: 100px;
}
.bottom-part 
{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
  .contact {
    margin-bottom: 5%;
  }


